.DS_Store
.idea
.vscode
/assets
/versioninfo
questscreen
__debug_bin
*.m4v
docs/demo.json
plugins/plugins.go
plugins/plugins.yaml
plugins/plugins.txt
web/configitems*.go
assets/assets.go
*.exe
*.tar.xz
