<!doctype html>
<html lang="en">
<head>
    <title>RPScreen Control Center</title>
    <link href="/css/pure-min.css" rel="stylesheet"/>
    <link href="/css/grids-responsive-min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu" id="rp-menu">
            <a class="pure-menu-heading" href="/">RPScreen</a>

            <ul class="pure-menu-list" style="visibility: hidden" id="rp-menu-list">
                <li class="pure-menu-heading" id="rp-menu-system-heading"><i class="fas fa-book"></i> Systems</li>
                <li class="pure-menu-heading" id="rp-menu-group-heading"><i class="fas fa-users"></i> Groups</li>
            </ul>
        </div>
    </div>

    <div id="main">
        <article class="pure-g">
            {{range .Modules}}
                <section class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h2>{{.Name}}</h2>
                    {{.UI}}
                </section>
            {{end}}
        </article>
    </div>

</div>
<template id="tmpl-system-entry">
    <li class="pure-menu-item with-settings rp-menu-system-entry">
        <a class="pure-menu-link"></a>
        <a class="settings-link" href="#"><i class="fas fa-cog"></i></a>
    </li>
</template>
<template id="tmpl-group-entry">
    <li class="pure-menu-item with-settings rp-menu-group-entry">
        <a class="pure-menu-link"></a>
        <a class="settings-link" href="#"><i class="fas fa-cog"></i></a>
    </li>
</template>
<template id="tmpl-settings-page">
    <article class="pure-g">
        <h2 id="settings-heading" class="pure-u-1"></h2>
    </article>
</template>
<template id="tmpl-settings-module">
    <hr class="pure-u-1"/>
    <div class="pure-u-1 pure-u-lg-1-4"><h3 id="module-settings-name"></h3></div>
    <div class="pure-u-1 pure-u-lg-3-4 pure-form pure-form-aligned">
        <fieldset id="module-settings-content"></fieldset>
    </div>
</template>

<template id="tmpl-settings-item">
    <div class="pure-control-group">
        <label>
            <input type="checkbox" class="settings-item-checkbox"/>
            <span class="settings-item-name"></span>
        </label>
        <!-- setting contents goes here -->
    </div>
</template>

<template id="tmpl-settings-selectable-font">
    <select class="font-families"></select>
    <select class="font-size">
        <option value="0">Small</option>
        <option value="1">Content</option>
        <option value="2">Medium</option>
        <option value="3">Heading</option>
        <option value="4">Large</option>
        <option value="5">Huge</option>
    </select>
    <div class="pure-button-group" role="group" aria-label="Font Faces" style="display: inline">
        <button class="pure-button font-style-selector bold"><i class="fas fa-bold"></i></button>
        <button class="pure-button font-style-selector italic"><i class="fas fa-italic"></i></button>
    </div>
</template>

<script src="/js/ui.js"></script>
<script src="/js/sharedData.js"></script>
</body>
</html>
