<!doctype html>
<html lang="en">
<head>
    <title>RPScreen Control Center</title>
    <link rel="stylesheet" href="/style/pure-min.css"/>
    <link rel="stylesheet" href="/style/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu" id="rp-menu">
            <a class="pure-menu-heading" href="/">RPScreen</a>

            <ul class="pure-menu-list" style="visibility: hidden" id="rp-menu-list">
                <li class="pure-menu-heading" id="rp-menu-system-heading">Systems</li>
                <li class="pure-menu-heading" id="rp-menu-group-heading">Groups</li>
            </ul>
        </div>
    </div>

    <div id="main">
        <article class="pure-g">
            {{range .Modules}}
                <section class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h2>{{.Name}}</h2>
                    {{.UI}}
                </section>
            {{end}}
        </article>
    </div>

</div>
<template id="tmpl-system-entry">
    <li class="pure-menu-item rp-menu-system-entry">
        <a class="pure-menu-link"></a>
    </li>
</template>
<template id="tmpl-group-entry">
    <li class="pure-menu-item rp-menu-group-entry">
        <a class="pure-menu-link"></a>
    </li>
</template>

<script src="/js/ui.js"></script>
<script src="/js/sharedData.js"></script>
</body>
</html>
