:root {
  --strong: #305f88;
  --medium: #4ba3ed;
  --light: #8fccff;
  --light-highlight: #afeeff;
  --text: black;
  --danger: rgb(212, 75, 90);
  --success: rgb(75, 212, 90);
}

header {
  background-color: var(--medium);
}

nav {
  background-color: var(--light);
}

nav .pure-menu-link:hover,
nav .pure-menu-link:active,
nav .pure-menu-active > .pure-menu-link {
  background-color: var(--light-highlight);
}

nav > div > a:hover,
nav > div > a:active {
	background-color: var(--danger);
}

nav .pure-menu-link,
nav .pure-menu-heading {
  color: var(--text);
}

#menu-groups {
  background-color: var(--medium);
}

#title-wrapper, #pagemenu-wrapper {
  background-color: var(--strong);
}

.state-module-header, .config-module-header {
  background-color: var(--strong);
}

.state-module-content, .config-module-content {
  background-color: var(--light);
}

.data-list-link.delete:hover,
.data-list-link.delete:active {
	background-color: var(--danger);
}

.data-list-link.create:hover {
  background-color: var(--success);
}

.dropdown-selector > a:hover,
.dropdown-selector > a:active,
.dropdown-selector.pure-menu-active > a {
  background-color: var(--medium);
}

.dropdown-selector .pure-menu-link {
  color: var(--text);
}

.dropdown-selector .pure-menu-children {
  background-color: var(--medium);
}

.data-sheet {
  background-color: var(--light);
}

.data-sheet .data-sheet-header {
  background-color: var(--strong);
}

.data-sheet .pure-button.delete {
  background-color: var(--danger);
}

.data-sheet .pure-form-message-inline {
  color: var(--text);
}

.data-list-item:hover {
  background-color: var(--light-highlight);
}