header {
  background-color: lightcoral;
}

nav {
  background-color: darkgoldenrod;
}

nav > div > a:hover,
nav > div > a:active {
	background-color: firebrick;
}

nav .pure-menu-link,
nav .pure-menu-heading {
  color: black;
}

#menu-groups {
  background-color: indianred;
}

#title-wrapper, #pagemenu-wrapper {
  background-color: darkolivegreen;
}

hr {
  background-color: #333;
}

.data-list-link.delete:hover,
.data-list-link.delete:active {
	background-color: red;
}

.data-list-link.create:hover {
  background-color: green;
}

.data-sheet {
  background-color: #eeeeaa;
}

.data-sheet > div:first-child,
.data-sheet .data-sheet-header,
.data-sheet > .data-sheet-delete {
  background-color: #aaaa77;
}

.data-sheet > .data-sheet-delete:hover {
  background-color: red;
}

.data-list-item:hover {
  background-color: #cccc99;
}