/* general */

/* remove triangle. we use the nicer font-awesome triangle. */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
	content: "";
}

.pure-menu-has-children,
.pure-menu-children {
	transition: all 0.2s ease-out;
}

@media screen and (max-width: 35.5em) {
	.pure-menu-has-children > .pure-menu-children {
		position: static;
		display: block;
		overflow: hidden;
		height: 0;
		transition: all 0.2s ease-out;
	}

	.pure-menu-has-children > .pure-menu-children > .pure-menu-item {
		box-sizing: border-box;
		height: 2em;
	}
}

/* header */

header {
	width: 100%;
	margin: 0;
	padding-bottom: .5em;
	transition: height 0.2s ease-out;
	box-sizing: border-box;
}

@media screen and (max-width: 35.5em) {
	header {
		padding-bottom: 0;
	}
}


header h1 {
	margin: 0;
	line-height: 1.25em;
	text-align: center;
}

#menu-groups {
	width: 100%;
}

nav {
	width: 30em;
	border-radius: .125em;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
}

nav > div > a:link,
nav > div > a:hover,
nav > div > a:active,
nav > div > a:visited {
	color: black;
}

nav .pure-menu-horizontal > .pure-menu-list,
nav .pure-menu-horizontal > .pure-menu-list > .pure-menu-item {
	display: block;
}

#open-group-menu,
#show-config,
#show-datasets {
	position: relative;
	text-align: center;
}

nav > div > a > i.fas {
	position: absolute;
	right: 0;
	padding-top: .25em;
	padding-right: .25em;
}

@media screen and (max-width: 35.5em) {
	nav {
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
}

#title-wrapper {
	position: relative;
	height: 1.25em;
	line-height: 1.25em;
	margin: 0;
	padding: .5em;
}

#title-wrapper #title {
	margin: 0;
	text-align: center;
	display: block;
}

#title-wrapper #header-toggle {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em;
}

/* settings */

.settings-container {
	position: relative;
	left: 0;
	padding-left: 250px;
}

.settings-menu {
	position: absolute;
	left: -250px;
	width: 250px;
}

hr {
	border: 0;
	height: 1px;
	background-color: #333;
}

.state-list-container {
	display: inline;
}

.pure-menu-selected .state-list-invisible {
	visibility: hidden;
}

.state-list-visible {
	visibility: hidden;
}

.pure-menu-selected .state-list-visible {
	visibility: visible;
}

.state-module-name, .settings-module-name {
	margin: 0;
}