/* general */

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

/* remove triangle. we use the nicer font-awesome triangle. */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
	content: "";
}

.pure-menu-has-children,
.pure-menu-children {
	transition: all 0.2s ease-out;
}

@media screen and (max-width: 35.5em) {
	.pure-menu-has-children > .pure-menu-children {
		position: static;
		display: block;
		overflow: hidden;
		height: 0;
		transition: all 0.2s ease-out;
	}

	.pure-menu-has-children > .pure-menu-children > .pure-menu-item {
		box-sizing: border-box;
		height: 2em;
	}
}

hr {
	border: 0;
	height: 3px;
	border-radius: 1px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* header */

header {
	flex: 0 0 auto;
	margin: 0;
	padding-bottom: .5em;
	transition: height 0.2s ease-out;
	box-sizing: border-box;
}

@media screen and (max-width: 35.5em) {
	header {
		padding-bottom: 0;
	}
}


header h1 {
	margin: 0;
	line-height: 1.25em;
	text-align: center;
}

#menu-groups {
	width: 100%;
}

nav#mainmenu {
	width: 30em;
	border-radius: .125em;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
}

nav#mainmenu .pure-menu-horizontal > .pure-menu-list,
nav#mainmenu .pure-menu-horizontal > .pure-menu-list > .pure-menu-item {
	display: block;
}

#open-group-menu,
#show-config,
#show-datasets {
	position: relative;
	text-align: center;
}

nav#mainmenu > div > a > i.fas {
	position: absolute;
	right: 0;
	padding-top: .25em;
	padding-right: .25em;
}

@media screen and (max-width: 35.5em) {
	nav#mainmenu {
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
}

#title-wrapper {
	flex: 0 0 2em;
	position: relative;
	margin: 0;
	padding: .5em;
	box-sizing: border-box;
}

#title-wrapper #title {
	margin: 0;
	text-align: center;
	display: block;
	padding-right: 1.25em;
}

#title-wrapper #header-toggle {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em;
}

/* page */

#page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	height: 100%;
}

#pagemenu-wrapper {
	flex: 0 0 7.5em;
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	flex: 1 0 0px;
}

@media screen and (max-width: 35.5em) {
	#page {
		flex-direction: column;
	}

	#pagemenu-wrapper {
		flex: 0 0 auto;
		padding: .5em;
		height: auto;
	}

	nav#pagemenu {
		border-radius: .125em;
	}
}

article {
	padding: .5em;
}

/* settings */

.settings-container {
	position: relative;
	left: 0;
	padding-left: 250px;
}

.settings-menu {
	position: absolute;
	left: -250px;
	width: 250px;
}

.state-list-container {
	display: inline;
}

.pure-menu-selected .state-list-invisible {
	visibility: hidden;
}

.state-list-visible {
	visibility: hidden;
}

.pure-menu-selected .state-list-visible {
	visibility: visible;
}

.state-module-name, .settings-module-name {
	margin: 0;
}