/* general */

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

/* remove triangle. we use the nicer font-awesome triangle. */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
	content: "";
}

.pure-menu-has-children,
.pure-menu-children {
	transition: all 0.2s ease-out;
}

.pure-menu-heading {
	padding: 0 !important;
}

.pure-menu-dummy-link {
	padding: .5em 1em;
	display: block;
	white-space: nowrap;
	font-weight: bold;
	text-transform: initial;
}

@media screen and (max-width: 35.5em) {
	.pure-menu-has-children > .pure-menu-children {
		position: static;
		display: block;
		overflow: hidden;
		height: 0;
		transition: all 0.2s ease-out;
	}

	.pure-menu-has-children > .pure-menu-children > .pure-menu-item {
		box-sizing: border-box;
		height: 2em;
	}
}

/* ensure link clicks are always issued by the link itself */
.pure-menu-link span, .pure-menu-link i {
	pointer-events: none;
}

hr {
	border: 0;
	height: 3px;
	border-radius: 1px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* popup */

#popup-wrapper {
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	display: none;
  align-items: center;
  justify-content: center;
	z-index: 9;
}

#popup {
	background-color: white;
	border-radius: 5px;
	padding: .5em;
	width: 30em;
	text-align: right;
}

#popup h3 {
	text-align: center;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: .5em;
}

#popup-content {
	text-align: left;
	display: block;
	min-height: 2em;
}

/* header */

header {
	flex: 0 0 auto;
	margin: 0;
	padding-bottom: .5em;
	transition: height 0.2s ease-out;
	box-sizing: border-box;
}

@media screen and (max-width: 35.5em) {
	header {
		padding-bottom: 0;
	}
}


header h1 {
	margin: 0;
	line-height: 1.25em;
	text-align: center;
}

#menu-groups {
	width: 100%;
}

nav#mainmenu {
	width: 30em;
	border-radius: .125em;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
}

nav#mainmenu .pure-menu-horizontal > .pure-menu-list,
nav#mainmenu .pure-menu-horizontal > .pure-menu-list > .pure-menu-item {
	display: block;
}

#open-group-menu,
#show-config,
#show-datasets {
	position: relative;
	text-align: center;
}

nav#mainmenu > div > a > i.fas {
	position: absolute;
	right: 0;
	padding-top: .25em;
	padding-right: .25em;
}

@media screen and (max-width: 35.5em) {
	nav#mainmenu {
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
}

#title-wrapper {
	flex: 0 0 2em;
	position: relative;
	margin: 0;
	padding: .5em 1em;
	box-sizing: border-box;
	text-align: center;
}

#title {
	margin: 0;
}

#subtitle:not(:empty):before {
	content: " – ";
}

nav#pagemenu .submenu-link {
	padding-left: 2em;
}

nav#pagemenu .submenu-parent-name {
	display: none;
}

@media screen and (max-width: 35.5em) {
	#subtitle {
		display: none;
	}

	nav#pagemenu .submenu-link {
		padding-left: 1em;
	}

	nav#pagemenu .submenu-parent-name {
		display: inline;
	}
}

#header-toggle {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em;
}

/* page */

#page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	height: 100%;
}

#pagemenu-wrapper {
	flex: 0 0 7.5em;
	margin: 0;
	padding: 0;
	height: 100%;
}

nav#pagemenu {
	height: 100%;
}

nav#pagemenu i.fa-sort {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em;
	visibility: hidden;
}

nav#pagemenu .pure-menu-heading {
	font-size: small;
}

main {
	flex: 1 0 0px;
}

@media screen and (max-width: 35.5em) {
	#page {
		flex-direction: column;
	}

	#pagemenu-wrapper {
		flex: 0 0 auto;
		padding: .5em;
		height: auto;
	}

	nav#pagemenu {
		border-radius: .125em;
	}

	nav#pagemenu .pure-menu-item,
	nav#pagemenu .pure-menu-heading {
		transition: height .2s ease-out;
		height: 0;
		box-sizing: border-box;
		overflow: hidden;
	}

	nav#pagemenu.pagemenu-expanded .pure-menu-item,
	nav#pagemenu.pagemenu-expanded .pure-menu-heading,
	nav#pagemenu .pure-menu-active.pure-menu-item {
		height: 2em;
	}

	nav#pagemenu:not(.pagemenu-expanded) .pure-menu-active i.fa-sort {
		visibility: visible;
	}
}

article {
	padding: .5em;
}

/* config & state */

.state-list-container {
	display: inline;
}

.pure-menu-selected .state-list-invisible {
	visibility: hidden;
}

.state-list-visible {
	visibility: hidden;
}

.pure-menu-selected .state-list-visible {
	visibility: visible;
}

.state-module-name, .config-module-name {
	margin: 0;
	padding: .35em 0 .75em;
}

.config-view-controls {
	display: flex;
	flex-direction: row;
}

.config-view-controls > div:first-child {
	flex: 1 0 auto;
	padding-top: .5em;
}

.config-view-controls label {
	margin: 0;
}

.config-view-controls > div:last-child {
	flex: 0 0 auto;
}