html {
  --strong: #305f88;
  --medium: #4ba3ed;
  --medium-highlight: #2887cb;
  --light: #8fccff;
  --light-highlight: #afeeff;
  --text: black;

  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media only screen and (max-device-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}

@media only screen and (max-device-width: 480px) {
  body {
    flex-direction: column;
  }
}

nav {
  flex: 0 0 auto;
  background-color: var(--medium);
  font-size: large;
}

nav > a.header {
  display: flex;
  font-weight: bold;
  color: var(--text) !important;
  text-decoration: none;
}

nav > a.header > span.title {
  flex: 1 1 auto;
  text-align: center;
  padding: .5em .75em;
}

nav > a.header > i {
  flex: 0 0 auto;
  visibility: hidden;
  padding: .5em .75em;
}

@media only screen and (max-device-width: 480px) {
  nav > a.header > i {
    visibility: visible;
  }

  nav:not(.expanded) {
    height: 2em;
    overflow: hidden;
  }
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: block;
  margin: 0;
  padding: 0;
}

nav > ul > li > a {
  display: block;
  margin: 0;
  padding: .5em .75em;
  text-decoration: none;
  color: var(--text);
}

nav > ul > li.active > a {
  background-color: var(--light);
}

nav > ul > li > a > i {
  width: 1.5em;
  display: inline-block;
  text-align: center;
  padding-right: .125em;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  background-color: var(--medium-highlight);
}

article {
  flex: 1 1 auto;
  margin: 0;
  padding: 1em;
  text-align: justify;
  max-width: 80ch;
}

article > aside {
  display: flex;
  background-color: var(--light-highlight);
  border-radius: 0.25em;
  padding: .375em;
  align-items: center;
}

article > aside > i {
  flex: 0 0 auto;
  padding: 0 .75em;
}

article > aside > p {
  flex: 1 1 auto;
}

article a::first-letter {
  text-decoration: underline;
}

article a:hover,
article a:active {
  text-decoration: underline;
}

article > header {
  margin: 0 0 1em 0;
}

article > header > h1 {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

article h2 {
  font-size: larger;
  font-weight: bold;
}

article h3 {
  font-size: medium;
  font-weight: bold;
}

article img {
  margin: 0 auto;
  max-width: 90%;
  display: block;
}

article > figure {
  display: inline-block;
}

article > figure > figcaption {
  text-align: center;
  font-size: large;
}

.video-demo > video {
  max-width: 640px;
  height: auto;
}

.video-demo > figcaption {
  display: flex;
  align-items: center;
}

.video-demo > figcaption > a {
  flex: 0 0 auto;
  font-size: x-large;
  color: black !important;
  display: block;
  padding: .125em;
  min-width: 1.5em;
  text-align: center;
}

.video-demo > figcaption > a:hover,
.video-demo > figcaption > a:active {
  border-radius: .25em;
  background-color: var(--light-highlight);
}

.video-demo > figcaption > span {
  flex: 1 1 auto;
}