header {
  background-color: var(--medium);
}

nav {
  background-color: var(--light);
}

nav .pure-menu-link:hover,
nav .pure-menu-link:active,
nav .pure-menu-active > .pure-menu-link {
  background-color: var(--light-highlight);
}

nav > div > a:hover,
nav > div > a:active {
	background-color: var(--danger);
}

nav .pure-menu-link,
nav .pure-menu-heading {
  color: var(--text);
}

#menu-groups {
  background-color: var(--medium);
}

#qs-title-wrapper, #qs-pagemenu-wrapper {
  background-color: var(--strong);
}

#qs-popup .qs-template-list {
  background-color: var(--medium);
}

#qs-popup .qs-template-item > .pure-menu-link:hover,
#qs-popup .qs-template-item > .pure-menu-link:focus {
  background-color: var(--light-highlight);
}

#qs-popup .qs-template-item.pure-menu-active > .pure-menu-link {
  background-color: var(--medium-highlight);
}

#qs-popup .qs-template-item > .pure-menu-link {
  color: var(--text);
}

.qs-module-header, .qs-module-header, .qs-config-item-header {
  background-color: var(--strong);
}

.qs-config-module-content {
  background-color: var(--medium);
}

.qs-config-item-container, .qs-module-content {
  background-color: var(--light);
}

.qs-data-list-link.qs-delete:hover,
.qs-data-list-link.qs-delete:active {
	background-color: var(--danger);
}

.qs-data-list-link.qs-create:hover,
.pure-menu-link.qs-create:hover {
  background-color: var(--success);
}

.qs-data-sheet, .qs-messages, .qs-hero-container > nav .pure-menu-selected,
.qs-hero-container > form {
  background-color: var(--light);
}

.qs-data-sheet .qs-data-sheet-header,
.qs-messages .qs-message-list-header,
.qs-hero-container, .qs-hero-container > nav {
  background-color: var(--strong);
}

.qs-data-sheet .pure-button.qs-delete,
.qs-hero-container .pure-button.qs-delete,
#qs-endable-page-controls .pure-button.qs-delete {
  background-color: var(--danger);
}

.qs-data-sheet .pure-form-message-inline {
  color: var(--text);
}

.qs-data-list-item:hover,
table.qs-module-list > tbody > tr:hover,
table.qs-group-chooser-list tr:hover {
  background-color: var(--light-highlight);
}

table.qs-message-list tr.qs-warning {
  background-color: var(--caution);
}

table.qs-message-list tr.qs-error {
  background-color: var(--danger);
}

#qs-error-menu-overlay {
  background-color: var(--danger);
}