/* general */

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

fieldset {
	border: 0;
}

/* remove triangle. we use the nicer font-awesome triangle. */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
	content: "";
}

.pure-menu-has-children,
.pure-menu-children {
	transition: all 0.2s ease-out;
}

.pure-menu-children {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
}

.pure-menu-heading {
	padding: 0 !important;
}

.pure-menu-dummy-link {
	padding: .5em 1em;
	display: block;
	white-space: nowrap;
	font-weight: bold;
	text-transform: initial;
}

@media screen and (max-width: 35.5em) {
	.pure-menu-has-children > .pure-menu-children {
		position: static;
		display: block;
		overflow: hidden;
		height: 0;
		transition: all 0.2s ease-out;
	}

	.pure-menu-has-children > .pure-menu-children > .pure-menu-item {
		box-sizing: border-box;
		height: 2em;
	}

	.pure-menu-children {
		box-shadow: none;
	}
}

/* ensure link clicks are always issued by the link itself */
.pure-menu-link span, .pure-menu-link i {
	pointer-events: none;
}

hr {
	border: 0;
	height: 3px;
	border-radius: 1px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* header */

header {
	flex: 0 0 auto;
	margin: 0;
	padding-bottom: .5em;
	transition: height 0.2s ease-out;
	box-sizing: border-box;
}

@media screen and (max-width: 35.5em) {
	header {
		padding-bottom: 0;
	}
}


header h1 {
	margin: 0;
	line-height: 1.25em;
	text-align: center;
}

#qs-mainmenu {
	width: 30em;
	border-radius: .125em;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
}

#qs-mainmenu .pure-menu-horizontal > .pure-menu-list,
#qs-mainmenu .pure-menu-horizontal > .pure-menu-list > .pure-menu-item {
	display: block;
}

#qs-mainmenu a {
	position: relative;
	text-align: center;
}

@media screen and (max-width: 35.5em) {
	#qs-mainmenu {
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
}

#qs-title-wrapper {
	flex: 0 0 2em;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: stretch;
}

#qs-title-wrapper > p {
	padding: .5em 0;
}

#qs-title-buttons {
	position: absolute;
	top: .25em;
	left: .5em;
	right: .5em;
	bottom: .25em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

#qs-title-buttons > div {
	display: none;
	font-size: medium;
}

#qs-title-buttons:not(.qs-commitable-page):not(.qs-endable-page) > #qs-no-page-controls {
	display: unset;
}

#qs-title-buttons.qs-commitable-page > #qs-commitable-page-controls {
	display: unset;
	flex: 0 0 auto;
}

#qs-commitable-page-controls > i:not(.qs-edited) {
	visibility: hidden;
}

#qs-title-buttons.qs-endable-page > #qs-endable-page-controls {
	display: unset;
	flex: 0 0 auto;
}

#qs-header-toggle {
	flex: 0 0 auto;
	cursor: pointer;
}

#qs-title-content {
	margin: 0;
	padding-left: 4em;
	padding-right: 4em;
	text-align: center;
}

#qs-title {
	margin: 0;
}

#qs-subtitle:not(:empty):before {
	content: " – ";
}

#qs-pagemenu-wrapper.qs-hidden {
	display: none;
}

#qs-pagemenu .qs-submenu-link {
	padding-left: 2em;
}

#qs-pagemenu .qs-submenu-parent-name {
	display: none;
}

@media screen and (max-width: 35.5em) {
	#qs-title-buttons.qs-commitable-page,
	#qs-title-buttons.qs-endable-page {
		position: static;
		padding: .5em;
	}

	#qs-title-content {
		padding-left: 2em;
		padding-right: 2em;
	}

	#qs-subtitle {
		display: none;
	}

	#qs-pagemenu .qs-submenu-link {
		padding-left: 1em;
	}

	#qs-pagemenu .qs-submenu-parent-name {
		display: inline;
	}
}

/* popup */

#qs-popup .qs-template-list {
	margin-top: .5em;
}

#qs-popup .qs-template-item .pure-menu-link {
	display: flex;
	align-items: center;
}

#qs-popup .qs-template-item .pure-menu-link .qs-template-container {
	flex: 1 1 auto;
}

#qs-popup .qs-template-item .pure-menu-link > i {
	flex: 0 0 auto;
	margin-left: 1em;
}

#qs-popup .qs-template-list .pure-menu-item {
	transition: height .2s ease-out;
	box-sizing: border-box;
	overflow: hidden;
}

#qs-popup .qs-template-list:not(.qs-menu-expanded) .pure-menu-item:not(.pure-menu-active) {
	height: 0 !important;
}

#qs-popup .qs-template-identifier {
	margin-top: .2em;
}

#qs-popup .qs-template-descr {
	margin-bottom: .2em;
}

#qs-popup .qs-template-item:not(.pure-menu-active) > .pure-menu-link > i {
	visibility: hidden;
}

/* page */

#qs-page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#qs-pagemenu-wrapper {
	flex: 0 0 7.5em;
	margin: 0;
	padding: 0;
	height: 100%;
}

#qs-pagemenu {
	height: 100%;
}

#qs-pagemenu i.fa-sort {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em;
	visibility: hidden;
}

#qs-pagemenu .pure-menu-heading {
	font-size: small;
}

main {
	flex: 1 0 0px;
}

@media screen and (max-width: 35.5em) {
	#qs-page {
		flex-direction: column;
	}

	#qs-pagemenu-wrapper {
		flex: 0 0 auto;
		padding: .5em;
		height: auto;
	}

	#qs-pagemenu {
		border-radius: .125em;
	}

	#qs-pagemenu .pure-menu-item,
	#qs-pagemenu .pure-menu-heading {
		transition: height .2s ease-out;
		height: 0;
		box-sizing: border-box;
		overflow: hidden;
	}

	#qs-pagemenu.qs-pagemenu-expanded .pure-menu-item,
	#qs-pagemenu.qs-pagemenu-expanded .pure-menu-heading,
	#qs-pagemenu .pure-menu-active.pure-menu-item {
		height: 2em;
	}

	#qs-pagemenu:not(.qs-pagemenu-expanded) .pure-menu-active i.fa-sort {
		visibility: visible;
	}
}

article {
	padding: .5em;
}

/* config & state */

.qs-module-header h3, .qs-module-header h3 {
	margin: 0;
}

.qs-module-header, .qs-module-header,
.qs-module-content {
	margin: 0;
	padding: .5em;
	box-sizing: border-box;
}

.qs-module, .qs-module {
	margin-bottom: 1em;
}

.qs-config-module-content {
	padding: 0;
}

.qs-config-module-content > fieldset {
	margin: .75em;
	padding: 0;
}

/* must have label in front to override PureCSS rule */
label.qs-config-item-header {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}

.qs-config-item-header > input,
.qs-config-item-header > i {
	flex: 0 0 auto;
	margin: .5em;
}

.qs-config-item-header > span {
	flex: 1 1 auto;
	margin: .5em;
	font-weight: bold;
}

input[type="color"] {
	height: 2em;
}

input[type="range"] {
	width: 6em;
}

.qs-config-item-table {
	display: inline-table;
	vertical-align: top;
	margin: .5em;
}

.qs-config-item-table > thead th {
	text-align: left;
	font-weight: normal;
}

.qs-config-item-table > tbody th {
	text-align: right;
	font-weight: normal;
}

.qs-config-item-table th,
.qs-config-item-table td {
	padding: .5em;
}

.qs-config-view-controls {
	text-align: right;
}

.qs-config-item-container {
	display: block;
}

/* datasets */

.qs-data-list-container {
	text-align: center;
}

.qs-data-list {
	display: flex;
	flex-direction: column;
}

.qs-data-list.qs-modules {
	display: inline-flex;
}

.qs-data-list-item {
	display: flex;
	align-items: center;
	min-height: 2em;
}

.qs-data-list-text {
	padding: 0 .5em;
}

.qs-data-list-edited {
	padding-left: .5em;
}

.qs-data-list-item > :first-child {
	flex: 1 1 auto;
}

.qs-data-list.qs-modules > .qs-data-list-item > :first-child {
	padding-left: 0;
}

.qs-data-list-item > :not(:first-child) {
	flex: 0 1 auto;
}

.qs-data-list-link {
	padding: .5em 1em;
	text-align: center;
}

.qs-data-list-link.qs-delete,
.qs-data-list-link.qs-create,
.pure-menu-link {
	cursor: pointer;
}

.qs-editable-text-group {
	display: flex;
	flex-direction: row;
	margin-bottom: .5em;
	align-items: baseline;
	min-width: 24em;
	padding: 0 .75em;
}

@media only screen and (max-width: 480px) {
	.qs-editable-text-group {
		flex-wrap: wrap;
		min-width: unset;
	}
}

.qs-editable-text-group label {
	flex: 0 0 6.5em;
	text-align: right;
	margin-right: 1em;
}

@media only screen and (max-width: 480px) {
	.qs-editable-text-group label {
		flex: 0 0 100%;
		text-align: left;
		margin-right: 0;
	}
}

.qs-editable-text-group input {
	flex: 1 0 auto;
}

.pure-form-message-inline.qs-edited {
	color: black;
}

.qs-editable-text-group .pure-form-message-inline.qs-edited {
	flex: 0 0 auto;
	margin: 0 .5em;
}

.pure-control-group:not(.qs-edited) .pure-form-message-inline.qs-edited,
.qs-editable-text-group:not(.qs-edited) .pure-form-message-inline.qs-edited,
.qs-data-list-item:not(.qs-edited) .qs-data-list-edited {
	visibility: hidden;
}

.qs-data-sheet, .qs-messages {
	display: inline-block;
	vertical-align: top;
	margin: .5em;
	min-width: 12.5em;
}

.qs-data-sheet.qs-group-chooser {
	text-align: left;
}

.qs-data-sheet-header, .qs-message-list-header {
	margin: 0;
	padding: .5em 1em;
}

form.qs-data-form > fieldset {
	margin: 0;
	padding: .75em 0;
}

.qs-data-sheet.qs-create:not(.qs-active) h4 {
	cursor: pointer;
}

.qs-data-sheet.qs-create:not(.qs-active) form {
	overflow: hidden;
	height: 0;
}

form.qs-data-form .pure-control-group {
	white-space: nowrap;
	padding: 0 .75em;
}

form.qs-data-form .pure-control-group label {
	width: 6.5em;
}

form.qs-data-form .pure-controls {
	margin: 1em 0 0 0;
	display: flex;
	padding: 0 .5em;
}

form.qs-data-form .pure-controls button {
	margin: 0 .25em;
}

form.qs-data-form .pure-controls .qs-hfill {
	flex: 1 1 auto;
}

form.qs-data-form .pure-controls :not(.qs-hfill) {
	flex: 0 0 auto;
}

.qs-hero-container {
	display: inline-block;
	margin: .5em;
	padding: 0;
}

.qs-hero-container > nav.pure-menu-horizontal {
	white-space: normal;
	width: auto;
}

.qs-hero-container > nav .pure-menu-link.qs-create {
	text-align: center;
	min-width: 2em;
}

.qs-hero-container > h3,
.qs-hero-container > nav {
	margin: .5em;
	padding: 0;
}

.qs-hero-container > form {
	margin: .5em;
}

.qs-hero-container > form > p {
	margin: 0;
	padding: 1.5em .5em;
}

.qs-hero-container > form.qs-no-hero-selected > fieldset,
.qs-hero-container > form:not(.qs-no-hero-selected) > p {
	display: none;
}

table.qs-module-list,
table.qs-group-chooser-list,
table.qs-message-list {
	width: 100%;
}

table.qs-module-list td,
table.qs-module-list th,
table.qs-group-chooser-list td a,
.qs-group-chooser p,
table.qs-message-list td {
	padding: .5em 1em;
}

table.qs-group-chooser-list td a {
	display: block;
	cursor: pointer;
}

table.qs-module-list .qs-text,
table.qs-message-list .qs-text {
	max-width: 40em;
}

.qs-info-view {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.qs-info-view h3,
.qs-info-view footer {
	text-align: center;
}

.qs-app-version {
	font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}

#qs-error-menu-overlay {
	text-align: center;
	font-weight: bold;
	border-radius: .125em;
	box-sizing: border-box;
	line-height: 2em;
}

nav:not(.qs-disabled) > #qs-error-menu-overlay {
	display: none;
}

nav.qs-disabled > :not(#qs-error-menu-overlay) {
	display: none;
}

.herolist-switch-all {
	margin-bottom: .3em;
}

.herolist-switch-all.pure-button-primary .show-all,
.herolist-switch-all:not(.pure-button-primary) .hide-all {
	display: none;
}

.pure-form button[type=submit] {
	margin-top: 0 !important;
}